<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpecControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SpecControl.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Kpx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kpy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kiy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kdy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imaxX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imaxY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="revx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="revy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minMoveX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minMoveY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kpx2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kix2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kdx2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kpy2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kiy2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kdy2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imaxX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imaxY2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="revx2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="revy2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minMoveX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minMoveY2" serializeAs="String">
                <value>0</value>
            </setting>
        </SpecControl.Properties.Settings>
    </userSettings>
</configuration>
